[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rbwa"]
	path = Rbwa
	url = https://github.com/crisprverse/rbwa
[submodule "crisprBase"]
	path = crisprBase
	url = https://github.com/crisprverse/crisprbase
[submodule "crisprBowtie"]
	path = crisprBowtie
	url = https://github.com/crisprverse/crisprbowtie
[submodule "crisprBwa"]
	path = crisprBwa
	url = https://github.com/crisprverse/crisprbwa
[submodule "crisprDesign"]
	path = crisprDesign
	url = https://github.com/crisprverse/crisprdesign
[submodule "crisprScore"]
	path = crisprScore
	url = https://github.com/crisprverse/crisprscore
[submodule "crisprVerse"]
	path = crisprVerse
	url = https://github.com/crisprverse/crisprverse
[submodule "crisprViz"]
	path = crisprViz
	url = https://github.com/crisprverse/crisprviz
[submodule "screenCounter"]
	path = screenCounter
	url = https://github.com/crisprverse/screencounter
